.button {
  background: #00aaa1;
  border-radius: 5px;
  padding: 13px 26px;
  outline: none;
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.large {
  padding: 15px 30px;
}

.white {
  background-color: #fff;
  color: #00aaa1;
}
