.entryMeta {
  display: flex;
  color: #777777;
  margin-bottom: 16px;
}

.author,
.publishDate,
.timeToRead {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  svg {
    margin-right: 6px;
    margin-left: 11px;
  }
  span {
    margin-right: 10px;
  }
}

.author {
  cursor: pointer;
  &:hover > span {
    text-decoration: underline;
  }
  img {
    height: 18px;
    width: 18px;
    object-fit: cover;
    margin-right: 8px;
    border-radius: 50%;
  }
}
