.accordion-item {
  padding: 0;
  border: none;
  background-color: #f2f8f7;
  border-top-right-radius: 8px !important ;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
  margin-bottom: 16px;
}

.accordion-button {
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
  background-color: #f2f8f7;
  border-top-right-radius: 8px !important ;
  border-bottom-right-radius: 8px !important;
  border-bottom-left-radius: 8px !important;
  border-top-left-radius: 8px !important;
  padding: 18px;
  &:focus {
    border-color: unset;
    box-shadow: unset;
  }
  &:not(.collapsed) {
    color: unset;
    background-color: #dff1f0;
    box-shadow: unset;
  }
}

.accordion-body {
  padding: 18px 20px;
  font-size: 15px;
  color: #666666;
}
