.container {
  max-width: 360px;
  h2 {
    margin-bottom: 40px;
  }
}

.topAuthors {
  display: flex;
  align-items: center;
}

.profile {
  margin-right: 34px;
  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.authorDetails {
  h4 {
    font-size: 17px;
    font-weight: 600px;
    margin-bottom: 8px;
    color: #222222;
  }
  p {
    font-size: 12px;
    color: #666666;
    margin-bottom: 14px;
  }
}

.socials {
  svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}
