.container {
  height: 50px;
  box-sizing: border-box;
  background-color: #fff;
  position: relative;
  border: 2px solid #ebebeb;
  input {
    padding: 0;
    outline: none;
    border: none;
    font-size: 12px !important;
  }
}

//node handle
.handle {
  width: 18px;
  height: 18px;
  z-index: 10;
}

.diamond {
  position: absolute;
  width: 66px;
  top: 50%;
  transform: translateY(-50%);
  left: -40px;
  height: 66px;
  background-color: #e5c551;
}
