footer {
  background-color: #f2f8f7;
}

.container {
  max-width: 1600px;
  padding: 100px 150px 66px 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.brand {
  svg {
    margin-bottom: 24px;
  }
  p {
    max-width: 236px;
  }
}

.sitemap,
.quickLinks {
  h4 {
    margin-top: 0;
    margin-bottom: 24px;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      cursor: pointer;
      &:hover {
        color: #00aaa1;
      }
    }
  }
}

.contact {
}

.inlineForm {
  h4 {
    margin-top: 0;
    margin-bottom: 24px;
  }
  form {
    position: relative;
    padding-bottom: 42px;
    input {
      border: none;
      outline: none;
      background-color: #dff1f0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;

      &::placeholder {
        color: #777777;
      }
    }
    button {
      border: none;
      outline: none;
      color: #fff;
      font-size: 15px;
      padding: 15px 42px;
      cursor: pointer;
      background-color: #00aaa1;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

.copyright {
  border-top: 1px solid #d1e7e5;
  padding: 24px;
  max-width: 1600px;
  margin: 0 auto;
  p {
    text-align: center;
  }
}
