.container {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  > svg {
    height: 200px;
  }

  h5 {
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 40px;
    font-weight: 500;
  }

  h4 {
    svg {
      margin-right: 12px;
    }
    a {
      color: #00aaa1;
      text-decoration: none;
    }
  }
}
