.post {
  display: flex;
  gap: 34px;
  flex-direction: column;
  margin-bottom: 48px;
}

.horizontal {
  flex-direction: row;
}

.postContentWrapper {
  width: 400px;
  margin-top: 10px;
}

.thumbnail {
  img {
    width: 266px;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
  }
}

.tags {
  margin-bottom: 8px;
  span {
    display: inline-block;
    padding: 4px 8px;
    color: #666666;
    border-radius: 3px;
    background-color: #f2f8f7;
    margin-right: 6px;
    cursor: pointer;
    &:hover {
      background-color: #00aaa1;
      color: #fff;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.headline {
  h2 {
    font-size: 27px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 16px;
  }
}
