html {
  font-size: 12px;
}
* {
  font-family: 'Noto Sans', sans-serif !important;
}
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
}

.active {
  color: red;
}

p,
li {
  font-size: 15px;
  color: #555555;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin-bottom: 16px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #333333;
}

input,
textarea {
  font-size: 15px !important;
  padding: 15px;
}

.highlight {
  display: inline-block;
  color: #fff;
  background-color: #00aaa1;
  padding-right: 2px;
}
